body {
    font-family: Arial;
    text-align: center;
    padding-top: 40px;
    background: #f0f0f0;
}

.box {
    width: 250px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #aaa;
}

input {
    width: 90%;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

button {
    width: 50px;
    height: 40px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
}
